<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Veterinario</span>

  <div class="text-left mr-3">
  <%= link_to "Client creator", new_client_path, class: "btn btn-primary text-light mr-2"  %>
  <%= link_to "Client list", clients_path, class: "btn btn-primary text-light"  %>

</nav>
